    
    <footer class="footer">
        <div>
            <div><a href=""><i class="fa-brands fa-linkedin-in"></i></a> </div>
            <div><a href=""><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href=""><i class="fa-brands fa-pinterest"></i></a></div>
        </div>
        <div>© 2022 SPAR - Website by <a href="">edito</a></div>
    </footer>
    
</body>
</html> 