    
    <footer class="footer">
        <div>
            <div><a href="<%=analytics.linkedin%>" aria-label="Go to Our Linkedin"><i class="fa-brands fa-linkedin-in"></i></a> </div>
            <div><a href="<%=analytics.instagram%>" aria-label="Go to Our Instagram"><i class="fa-brands fa-instagram"></i></a></div>
            <div><a href="<%=analytics.pinterest%>" aria-label="Go to Our Pintrest"><i class="fa-brands fa-pinterest"></i></a></div>
            <div><a href="<%=analytics.houzz%>" aria-label="Go to Our Pintrest"><i class="fa-brands fa-houzz"></i></a></div>
        </div>
        <div>© 2022 SPAR - Website by <a href="/">TOKNEEQ</a></div>
    </footer>
    
</body>  
</html>  