<%- include("./layouts/header.ejs")%>


    <section class="scs-1">

        <h3>Let's Connect</h3>
        <p>We would love to hear from you, please use the form below!</p>

        <form action="/postcontact" method="POST">
            <div>
                <div>
                    <label for="">Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>
            </div>
            <div>
                <div>
                    <label for="">Phone</label>
                    <input type="tel" name="phone">
                </div>
                <div>
                    <label for="">Inquiry Type</label>
                    <select name="InquiryType" id="">
                        <option value="Commercial">Commercial</option>
                        <option value="Residentail">Residentail</option>
                        <option value="Retail">Retail</option>
                        <option value="Office">Office</option>
                        <option value="Special Installations">Special Installations</option>
                        <option value="Themed Museum Interiors">Themed Museum Interiors</option>
                    </select>
                </div>
            </div>
 
            <div>
                <div style="margin: 0px 0px 20px 0px;">
                <label for="">Inquiry Type</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>   
            </div>

            <div style="display: flex; justify-content: center;">
                <input type="submit" value="Submit">
            </div>
        </form>
        <div class="scs-1-2">
            <div>  
                <p>Primary</p>
                <p>Headquarters</p>
                <p> <%-analytics.address%></p>
            </div>

            <div>
                <div class="mapouter"><div class="gmap_canvas"><iframe class="gmap_iframe" width="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=600&amp;height=400&amp;hl=en&amp;q=<%=analytics.address%>&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"></iframe><a href="https://pdflist.com/" alt="pdf">Pdf</a></div><style>.mapouter{position:relative;text-align:right;width:100%;height:400px;}.gmap_canvas {overflow:hidden;background:none!important;width:100%;height:400px;}.gmap_iframe {height:400px!important;}</style></div>
            </div>
        </div>



        <a class="whatsapp-options" href="https://wa.me/+917678532077">
            <p>+91-7678532077</p>
            <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M2 53L6.472 39.5849C4.20283 35.7683 2.89655 31.3142 2.89655 26.5517C2.89655 12.44 14.3366 1 28.4483 1C42.56 1 54 12.44 54 26.5517C54 40.6634 42.56 52.1034 28.4483 52.1034C24.1547 52.1034 20.1112 51.0392 16.56 49.169L2 53Z" fill="#2CB742" stroke="white" stroke-width="2"/>
                <path d="M44.7503 35.0556C43.5704 32.8258 39.2195 30.276 39.2195 30.276C38.2351 29.7148 37.0471 29.6521 36.4859 30.6526C36.4859 30.6526 35.072 32.348 34.7125 32.5918C33.07 33.7045 31.5486 33.6614 30.0128 32.1256L26.4436 28.5565L22.8745 24.9873C21.3387 23.4515 21.2956 21.9301 22.4082 20.2876C22.6521 19.9281 24.3475 18.5142 24.3475 18.5142C25.348 17.952 25.2853 16.765 24.724 15.7806C24.724 15.7806 22.1742 11.4296 19.9445 10.2498C18.996 9.74771 17.8313 9.92343 17.0729 10.6819L15.4967 12.2581C10.4967 17.2581 12.9586 22.9028 17.9587 27.9029L22.5284 32.4726L27.0981 37.0423C32.0982 42.0424 37.7429 44.5043 42.7429 39.5043L44.3191 37.9281C45.0775 37.1678 45.2524 36.0032 44.7503 35.0556Z" fill="white"/>
                </svg>
                
        </a> 



    </section>

    <%- include("./layouts/footer.ejs")%>