<%- include("./layouts/header.ejs")%>


    <section class="scs-1">

        <h3>Let's Connect</h3>
        <p>We would love to hear from you, please use the form below!</p>

        <form action="/postcontact" method="POST">
            <div>
                <div>
                    <label for="">Name</label>
                    <input type="text" name="name">
                </div>
                <div>
                    <label for="">Email</label>
                    <input type="email" name="email">
                </div>
            </div>
            <div>
                <div>
                    <label for="">Phone</label>
                    <input type="tel" name="phone">
                </div>
                <div>
                    <label for="">Inquiry Type</label>
                    <select name="InquiryType" id="">
                        <option value="Commercial">Commercial</option>
                        <option value="Residentail">Residentail</option>
                        <option value="Residentail">Retail</option>
                        <option value="Residentail">Office</option>
                        <option value="Residentail">Special Installations</option>
                        <option value="Residentail">Themed Museum Interiors</option>
                    </select>
                </div>
            </div>

            <div>
                <div style="margin: 0px 0px 20px 0px;">
                <label for="">Inquiry Type</label>
                <textarea name="message" id="" cols="30" rows="10"></textarea>
                </div>   
            </div>

            <div style="display: flex; justify-content: center;">
                <input type="submit" value="Submit">
            </div>
        </form>


    </section>

    <%- include("./layouts/footer.ejs")%>