<%- include("./layouts/header.ejs")%>

    <section class="sls-1">
        <form action="" method="POST">
            <label for="">Email</label>
            <input type="email" name="email" placeholder="email">

            <input type="submit" value="Forget Password">
        </form>

    </section>


    <%- include("./layouts/footer.ejs")%>

