<%- include("./layouts/header.ejs")%>

    <section class="sms-1">
        <img src="blog-post-image.jpg" data-pin-url="http://www.example.com/blog-post-permalink.html">
    </section>


    <%- include("./layouts/footer.ejs")%>

