<%- include("./layouts/header.ejs")%>

    <section class="sls-1">
        <form  method="POST">
            <label for="">Reset password</label>
            <input type="password" name="password" placeholder="Enter new password">
            <input type="hidden" name="client_id" value="<%= client_id %>">
            <input type="submit" value="Reset">
        </form>

    </section>


<%- include("./layouts/footer.ejs")%> 