body{
    position: relative;
}

.scs-1{
    width: 600px;
    margin: 0px auto; 
    padding: 60px 0px;
}

.scs-1>h3{
   font-size: 30px;
   margin: 0px 0px 0px 0px;
}

.scs-1>p{
   font-size: 16px;
   margin: 0px 0px 20px 0px;
   color: rgb(35, 35, 35,0.80);
}


.scs-1>form label{
    margin: 0px 0px 5px 0px; 
    font-size: 13px;
}
  
.scs-1>form>div{
    display: flex;
}

.scs-1>form>div>div{
    display: flex;
    flex-direction: column;
    margin: 0px 0px 20px 0px;
    width: 100%;
}

.scs-1>form>div>div:nth-child(1){

    margin: 0px 20px 20px 0px;

}

.scs-1>form>div>div>input{
    outline: none;
    padding: 10px 20px;
    border: 1px solid  rgb(35, 35, 35,0.80);
    width: 100%;
}

.scs-1>form>div>div>textarea{
    outline: none;
    padding: 10px 20px;
    border: 1px solid  rgb(35, 35, 35,0.80);
    width: 100%;
}

.scs-1>form>div>div>select{
    outline: none;
    padding: 10px 20px;
    border: 1px solid  rgb(35, 35, 35,0.80);
    width: 100%;
}

 
.scs-1-2{
    color: var( --dark);
    font-size: 16px;
    margin: 30px 0px;


    display: flex;
    justify-content: space-between;
}

.scs-1-2>div>p:nth-child(1){
    font-weight: bold;
    margin: 0px 0px 6px 0px;
}

.scs-1-2>div>p:nth-child(2){ 
    font-style: italic;
}

.whatsapp-options{
    position: fixed;
    left: -150px;
    top: 46%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2cb741e4;
    border-radius: 0px  50px 50px 0px;
    padding: 10px 20px;
    color: white;
    font-weight: bolder;
    transition: all 0.3s ease-in-out;
    text-decoration: none;

}

.whatsapp-options:hover{  
    left: 0px;
}

.whatsapp-options>svg{
    margin: 0px 0px 0px 10px;
    transform: scale(0.8);
}


 
@media only screen and (max-width:700px){


    .whatsapp-options{
        top: 10%;
        padding: 0px 0px;
    }

    .whatsapp-options>svg{
        margin: 0px 0px 0px 20px;
        transform: scale(0.5);
    }

    .scs-1>form>div{
        flex-direction: column;
    }

    .scs-1{
        width: 300px;
    }

    .scs-1-2{
        flex-direction: column;
    }

    .scs-1-2>div:nth-child(1){
        margin: 0px 0px 20px 0px;
    }
}