header{
    position: fixed;
    top: 0px;
    width: 100%;
    background-color: white;
}

.hiddenData{
    display: none;
}


.sehs-1 {
    display: flex;
    overflow-x: hidden;
} 

.sehs-1-1 {
    width: 300px;
    min-height: calc(100vh - 73px);
    height: auto;
    background-color: #232323;
    color: white; 

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 30px;

    position: fixed;
    left: 0px; 
    top: 73px;
}

.sehs-1-2 {
    width: calc(100vw - 300px);
    min-height: calc(100vh - 73px);
    height: auto;
    background-color: #ffffff;

    display: flex;
    align-items: center;
    flex-direction: column;

    padding: 30px  60px;

    margin: 73px 0px 0px 300px;
}


.sehs-1-1-2 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    padding: 30px;
}

.sehs-1-1-2>div {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 260px;
    margin: 10px 0px;

    border-bottom: 1px solid white;
}

.sehs-1-1-2>div>i {
    margin: 0px 16px 0px 0px;
    color: white;
}

.sehs-1-1-2>div>a {
    text-decoration: none;
    color: white;
}

.sehs-1-1-2>div>a:hover {
    text-decoration: none;
    color: rgb(91, 91, 91);
}



.sehs-1-1-3 {

    position: absolute;
    bottom: 20px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
               
}

.sehs-1-1-3>a {
    color: white;
}

.sehs-1-1-3>a:hover {
    text-decoration: none;
    color: rgb(91, 91, 91);
}


.sehs-1-2-2 {
    width: 100%;
    margin: 30px;
} 
 
.sehs-1-2-2>form {
    display: flex;
    width: 300px;
    flex-direction: column;
    color: #232323;
} 

.sehs-1-2-2>form>input{ 
   margin: 0px 0px 20px 0px;
   padding: 10px 20px;
   outline: none;
   color: rgb(91, 91, 91);
   border: 1px solid  rgb(91, 91, 91);
   border-radius: 2px;
} 

.sehs-1-2-2>form>textarea{
    margin: 0px 0px 20px 0px;
    padding: 10px 20px;
    outline: none;
    color: rgb(91, 91, 91);
    border: 1px solid  rgb(91, 91, 91); 
    border-radius: 2px; 
} 

.sehs-1-2-2>form>label{
   margin: 0px 0px 3px 0px;
} 



.sehs-1-2-2>form>input[type='file'] {
    outline: none;
    font-style: italic;
    color: rgb(91, 91, 91);
    border: 1px solid  rgb(91, 91, 91);
    border-radius: 2px;
}
 
.sehs-1-2-2>form>input[type="submit"]{
    display: block;
    outline: none;
    border: none;
    background-color: var(--green);
    padding: 10px 60px;
    border-radius: 2px;
    color: white;
    transition: all 0.3s ease;
}


.sehs-1-2-2>form>input[type="submit"]:hover{
    opacity: 0.9;
}
 
::-webkit-file-upload-button {
    outline: none; 
    border: none;
    margin: 0px 5px 0px 0px;
    padding: 0;
    text-decoration: underline; 
    color: rgb(91, 91, 91);
    display: none;
}


.sehs-1-2-3 {
    width: 100%;
    color: #232323;
} 

.sehs-1-2-3-heading{ 
    color: rgb(91, 91, 91); 
    font-size: 12px;
    font-weight: bold;
}

.sehs-1-2-3-heading>p:nth-child(3){ 
    width: 40%;
} 

.sehs-1-2-3-heading>p:nth-child(4){ 
    width: 40%;
} 

.sehs-1-2-3>ul>li{
    width: 80%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    border-bottom: 1px solid rgb(91, 91, 91);
}

.sehs-1-2-3>ul>li>img {
    width: 20%;
    height: 80px;
    margin: 0px 20px 0px 0px;
    object-fit: cover;   
}
 
.sehs-1-2-3>ul>li:last-child {  
    
    border-bottom: none; 
}

.sehs-1-2-3>ul>li>a {  
    color: #232323; 
}  

.sehs-1-2-3>ul>li>p{ 
    width: 20%;
    max-height: 200px;           
    overflow: hidden;
    margin: 0px 20px 0px 0px;
    line-height: 20px;
}

.text-closed>p:nth-child(3){ 
    width: 40%;
}
 
.text-closed>p{
    overflow-wrap: break-word;
    text-overflow: ellipsis;
    white-space:nowrap; 
    transition: all 0.3s ease-in-out;
    
}

.text-active>p{ 
    text-overflow: initial; 
    white-space:normal; 
}
 
.analytics_chart{
    width: 100%;
    height: 400px;
    margin: 30px 0px;
}

.analytics_counter{
    width: 100%;
    margin: 30px 0px;
    font-size: 14px;

    display: flex;
    flex-wrap: wrap;

}

.analytics_counter>.counter{
    width: fit-content; 
    height: auto;
    padding: 20px 30px;
    border-radius: 15px;
    background-color: var(--green);  
    color: var(--light);

    margin: 0px 20px 20px 0px;
}

.analytics_counter>.counter>p:nth-child(2){
    font-size: 32px;
    margin: 10px 0px 0px 0px;
}


.top_messages{
    color: var(--dark);
    width: 100%;
}

.top_messages>h3{
    font-size: 24px;
    font-weight: bold;
    margin: 0px 0px 30px 0px;
}

.top_messages>div{
    display: flex;
    margin: 30px 0px;
    padding: 10px 0px;
    width: auto;
    max-width: 500px;
    border-bottom: 1px solid rgb(91, 91, 91);
}
 
.top_messages>div>div{
    margin: 0px 20px 0px 0px;
    font-weight: bold;
}

.top_messages>div>div>a{
    font-size: 10px ;
    font-weight:normal;   
    display: block;
    width: 100px;
    overflow-wrap: break-word;
}
 

@media only screen and (max-width:1000px) {

    header{
        position: initial;
    }

     
    .sehs-1 {
        flex-direction: column;
    } 

    .sehs-1-1 {
        width: 100%;
        min-height: 100%;
        height: auto;                                     
        position: initial;
    
    }

    .sehs-1-2 { 
        width: 100%;
        min-height: 100%;
        height: auto;
        padding: 30px;
        margin: 0px;
    }


    .sehs-1-1-3 {
       padding: 0px;
        position: relative;

    }

    .sehs-1-2-3>ul>li {
        width: 100%
    }

    .sehs-1-2-3>ul>li>p{
        width: 20%
    }

}
