.sls-1{
    width: 300px;
    height: auto;
    padding: 30px;
    margin: 60px auto;

    box-shadow: 0px 10px 10px 3px rgba(0, 0, 0, 0.3) ;
}

.sls-1>form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sls-1>form>label{
     margin: 10px;
     display: block;
}

.sls-1>form>a{
     margin: 10px;
     text-decoration: none;
     color: rgb(70, 147, 255);
     display: block;
     font-size: 13px;
}

.sls-1>form>input[type="email"]{

     margin: 10px;
     outline: none;
     border: none;
     padding: 10px 60px;
     border-radius: 2px; 
     color: rgb(0, 0, 0);
     text-align: center;
}

.sls-1>form>input[type="password"]{

     margin: 10px;
     outline: none;
     border: none;
     padding: 10px 60px;
     border-radius: 2px; 
     color: rgb(0, 0, 0);
     text-align: center;
}

input[type="submit"]{
     display: block;
     outline: none;
     border: none;
     background-color: var(--green);
     padding: 10px 60px;
     border-radius: 2px;
     color: white;
     transition: all 0.3s ease;
}


input[type="submit"]:hover{
    opacity: 0.9;
}