.spds-1 {
    display: flex;
    padding: 60px 120px;
}

.spds-1-1 {
   width: 60%;
   height: 100%;
   position: relative;
   overflow: hidden;
}

.spds-1-2>h3 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.spds-1-1-1{
    
    width: 100%;
    height: 500px;

    position: relative;

    transition: all 0.9s ease;

}

.spds-1-1-1>img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    position: absolute;
}

.spds-1-2 {
    margin: 0px 0px 0px 60px;
    width: 40%;
}

.spds-1-2>h1 {
    margin: 0px 0px 30px 0px;
    font-size: 25px;
    font-weight: bold;
}

.spds-1-2-3{
    margin: 0px 0px 30px 0px;
}

.spds-1-2-3-1{
  display: flex;
  margin: 10px 0px;
}

.spds-1-2-3-1>p:nth-child(1){
  font-weight: bold;
  margin: 0px 10px 0px 0px;
}

.spds-1-2-3>h3 {
    margin: 0px 0px 10px 0px;
    font-size: 20px;
    font-weight: bold;
}

.spds-1-2-3-1>p {
    font-size: 16px;
    color: gray;
}


.spds-1-2>p {
    text-align: justify;
    color: gray;
    font-size: 16px;
    line-height: 26px;
    margin: 0px 0px 30px 0px;
}


.a-left{
    position: absolute;
    top: calc(50% - 100px);
    left: 5px;
    transform: scale(0.6);
    opacity: 0.6;
}

.a-right{
    position: absolute;
    top: calc(50% - 100px);
    opacity: 0.6;
    right: 5px;
    transform: scale(0.6);

}

.small_gallery{
    margin: 10px 0px;
    width: 100%;
}

.small_gallery>div{
    display: flex;
    transition: all 0.9s ease-in-out;
}


.small_gallery-img{
    width: 100px;
    height: 150px;
    object-fit: cover;
    margin: 0px 32px 0px 0px;
}

.spds-1-2-2{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%
}

.spds-1-2-2>div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 20px 10px 0px;
    background-color: var(--dark);
    height: 30px ;
    width: 30px ;
    border-radius: 50px;
}

.spds-1-2-2>div>a{

    color: var(--light);
}




@media only screen and (max-width:900px) {

    .spds-1 {
        flex-direction: column-reverse;
        padding: 60px;
    }

    .spds-1-2 {
        margin: 0px 0px 60px 0px;
        width: 100%;
    }

    .spds-1-1 { 
        width: 100%;
    } 
}

@media only screen and (max-width:600px) {
    .spds-1 {
        padding: 20px;
    }

    .spds-1-2>p{
        margin: 0px 0px 30px 0px;
    }

    .spds-1-2-3{
        flex-direction: column;
    }

    .spds-1-2-3>p{
        margin: 0;
    }

}