.sps-1{
   padding: 60px 120px;
   display: grid;
   grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
   grid-gap: 10px;
}

.sps-1-1{
    min-width: 300px;
    width: 100%;
    max-width: 900px;
    height: auto;
    max-height: 500px;
    position: relative;
    transition: all 0.9s ease;
}

.sps-1-1:hover{
    opacity: 0.6;
}

.sps-1-1:nth-child(4){
    grid-column:  span 2;
}

.sps-1-1:nth-child(7){
    grid-column:  span 2;
}

.sps-1-1:nth-child(9){
    grid-column:  span 2;
}

.sps-1-1:nth-child(10){
    grid-column:  span 2;
}

.sps-1-1:nth-child(11){
    grid-column:  span 2;
}

.sps-1-1>a>img{
    width: 100%;
    height: 100%; 
    border-radius: 15px;  
    object-fit: cover;
}

.sps-1-1>a>h1{
    color: var(--light);
    bottom: 0px;
    text-align:center;
    width: 100%;
    position: absolute; 
    font-size: 16px;
    /* mohitbagdi280@gmail.com */
    padding: 10px;
    text-transform: uppercase;
    letter-spacing: 9px;
    background-color: var(--green);
    border-radius: 0px 0px 15px 15px ;  
    overflow-wrap: break-word;
    font-weight: 400;
} 
 
@media only screen and (max-width:800px){

    .sps-1{
        padding: 60px;
     }

     .sps-1-1:nth-child(4){
        grid-column:  span 1;
    }
    
    .sps-1-1:nth-child(7){
        grid-column:  span 1;
    }
    
    .sps-1-1:nth-child(9){
        grid-column:  span 1;
    }
    
    .sps-1-1:nth-child(10){
        grid-column:  span 1;
    }
    
    .sps-1-1:nth-child(11){
        grid-column:  span 1;
    }
}

@media only screen and (max-width:600px){
    .sps-1{
        padding: 20px;
     }
}

